<h1>Welcome to Buddha Drop</h1>

<h3>Available Ganja</h3>

<ul>
  {{#each model.items as |item|}}
    {{item-tile item=item update="update"}} {{item-price item}}
  {{/each}}
</ul>

{{new-item saveItem2='saveItem3'}}

<hr>

{{display-cart}}
